@import "variables";
@import "mixins";
@import "text";
@import "align";
@import "button";
@import "container";
@import "preview";
@import "range";
@import "form";
@import "icon";
@import "animations";
@import "section";

html, body { margin: 0 }

main {
    min-height: 100vh;
    overflow: auto;
    background-color: $dark;

    &.dragging {
        user-select: none;
        touch-action: none;
    }
}