$width: 75px;
$height: 16px;

.range-outer {
    @extend label, .text-light;

    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    display: inline-block !important;
    width: $width;
    height: 100%;
    margin-right: 20px !important;

    &::after {
        content: attr(label);
        text-align: center;
        position: relative;
        top: 10px;
        font-size: 12px; line-height: 16px; letter-spacing: .4px
    }

    .range-bar {
        position: relative;
        border-radius: $height / 4;
        background: linear-gradient(-115deg, $success, $primary);
        pointer-events: none;
        touch-action: none;
        left: $width / 8;
        width: $width / (4 / 3); // 75%
        height: calc(100% - 30px); // leave space for label

        &.warmth {
            background: linear-gradient(-115deg, $danger, $primary);
        }
    }
    
    .range-control {
        position: absolute;
        top: 0; left: 0;
        background-color: $light;
        z-index: 1000;
        transition: border-width 0.3s;
        box-sizing: border-box;
        border-color: $muted;
        border-width: 0;
        border-style: solid;
        touch-action: none;
        width: 100%;
        height: $height;
        border-radius: $height;
    
        &:active {
            border-width: 2px;
        }
    }
}